body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bloco {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

/* Gradiente de cores de vermelho a verde */
.bloco-1 { background-color: #FF0000; }
.bloco-2 { background-color: #FF3300; }
.bloco-3 { background-color: #FF6600; }
.bloco-4 { background-color: #FF9900; }
.bloco-5 { background-color: #FFCC00; }
.bloco-6 { background-color: #FFFF00; }
.bloco-7 { background-color: #CCFF00; }
.bloco-8 { background-color: #99FF00; }
.bloco-9 { background-color: #66FF00; }
.bloco-10 { background-color: #00FF00; }

.bloco:hover {
    opacity: 0.8;
}

/* Estilo das perguntas */
.perguntas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pergunta {
    font-size: 28px; /* Aumentar o tamanho da fonte */
    font-weight: bold; /* Adicionar negrito */
    margin-bottom: 10px;
    color: #333;
}

/* Estilização da área de texto */
.textarea-container {
    margin-top: 20px;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para a mensagem de anonimato */
.anonimato-msg {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}