body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(6, 255, 15);
}

/* Estilos para a coluna de ações */
.action-buttons {
    display: flex;
    gap: 5px;
}

/* Botão de exclusão */
.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

.avancar-container {
    text-align: center;
    margin-top: 30px;
}

.btn-avancar {
    display: inline-block;
    font-size: 1.5rem;
    padding: 15px 30px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-avancar:hover {
    background-color: rgb(6, 255, 15);
}

